:Add following Lines to OpenSim.ini:


[OpenMetaverseEconomy]
  ;# {Enabled} {} {Enable OMEconomy} {true false} false
  enabled = true
  ;;
  OMEconomyInitialize = "https://www.virwox.com:419/OSMoneyGateway/init.php"
  ;;
  ;;Test System
  ; OMBaseEnvironment = "TEST"
  ; OMCurrencyEnvironment = "TEST"
  ;;
  ;;Productive System
  OMBaseEnvironment = "LIVE"
  OMCurrencyEnvironment = "LIVE"